body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    text-align: center;
    color: #555;
}

#mouse-data {
    padding: 2px;
    border: 2px solid #ddd;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    text-align: center;
    font-size: 18px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}

#mouse-data .coord {
    padding: 10px;
    border: 1px solid #ccc;
    margin: 10px;
    background-color: #fafafa;
    font-weight: bold;
}

#mouse-data .label {
    margin-right: 5px;
    color: #777;
}

#captureButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    background-color: #007BFF;
    color: #fff;
    transition: background-color 0.3s;
}

#captureButton:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    #mouse-data {
        flex-direction: column;
        align-items: center;
    }
} 
